*{
    box-sizing: border-box;
    background-color: #f0f2f5;
    font: 1.6hv;
}
.Login {
width: 100%;
height: 400px;
display: flex;
border-radius: 1rem;
align-items: center;
flex-wrap: wrap;
justify-content: space-evenly;
}
.facebooktext {
    padding: 1rem;
    font-size: 4rem;
    color: #1877f2;
    font-weight: 700;
    margin-right: 70%;
}
.title {
    font-size: 2rem;
    color: black;
    font-weight: 450;
}
.LoginContainer {
border: white .3rem solid;
background-color: white;
height: 23rem;
width: 26rem;
padding: 1rem;
border-radius: .7rem;
}
.LoginDetails {
display: flex;
padding: 20px;
background-color: white;
flex-direction: column;
/* border-bottom: .1rem black solid; */

}
input[type=email] {
    font-size: 17px;
    border: 0;
    outline: 0;
    border-radius: 6px;
    padding: 14px 16px;
    height: 50px;
    width: 330px;
    
    
    
    
    
}
input[type=password] {
    font-size: 17px;
    border: 0;
    outline: 0;
    border-radius: 6px;
    padding: 14px 16px;
    height: 50px;
    width: 330px;
    box-sizing: border-box;
    
    
}

input ::placeholder {
    font-size: 1.3rem;
}

   
.btn {

    font-size: 12px;


    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #1877f2;
    border: none;
    box-sizing: border-box;
    padding: 15px 32px;
    justify-content: center;
    margin: auto;
    border-radius: 6px;
    color: white;
    
}
.forget a {
  color: #1877f2;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: medium;
}
.btns {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f0f2f5;
    background-color: #42b72a;
    border: none;
    padding: 15px 32px;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
    width: 60%;
    border-radius: 5px;
    margin-left: 53px;
}
.page a {
    font-size: medium;
    color: black;
    display: inline-block;
    justify-content: center;
    justify-items: center;
    text-decoration: 
    none;

}
.page {
    font-size: medium;
    padding-left: 10%;
}
.btn a {
    text-decoration: none;
    color: white;
}
.btn a:hover {
color: black;
}


