 .widget {
    margin-top: 30px;
    margin-right: 10px;
    height: 100vh;
    position: sticky;
    top: 0;
    flex: auto; 
 } 
 .widget__header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 20px;
 }
 
 .widget__header p{
   display: flex;
   margin-right: 10px;
   justify-content: center;
   align-items: center;
 } 
.widget__bodyOption {
   display: flex;
   align-items: center;
   margin-bottom: 20px;
   margin-left: 10px;
}
.widget__bodyOption h4 {
   margin-left: 10px;
   font-size: 14px;
}
.widget__bodyOption p {
   font-size: 12px;
   color: gray;
}
.widget__headerRight   {
   display: flex;
   align-items: center;
   justify-content: space-between;

} 
